<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Styles/Account/Game.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/Account/Game.js"></script>
</head>
<body>
    <div class="container-fluid">
        <!-- Bloc de gauche -->
        <div class="left-panel">
            <h4 class="text-center">Vos Parties</h4>
            <!-- Liste des Parties Hôte -->
            <div class="list-container">
                <h5 class="list-header open" data-list="hostGamesList">Liste des Parties Hôte <span class="arrow open">&#9660;</span></h5>
                <ul id="hostGamesList" class="game-list open" style="display: block;">
                    <!-- Les parties hôtes seront ajoutées dynamiquement ici -->
                </ul>
            </div>
            <!-- Liste des Parties Invité -->
            <div class="list-container">
                <h5 class="list-header open" data-list="guestGamesList">Liste des Parties Invité <span class="arrow open">&#9660;</span></h5>
                <ul id="guestGamesList" class="game-list open" style="display: block;">
                    <!-- Les parties invités seront ajoutées dynamiquement ici -->
                </ul>
            </div>
            <!-- Liste des Parties Actives -->
            <div class="list-container">
                <h5 class="list-header open" data-list="activeGamesList">Liste des parties Actives <span class="arrow open">&#9660;</span></h5>
                <ul id="activeGamesList" class="game-list open" style="display: block;">
                    <!-- Les parties actives seront ajoutées dynamiquement ici -->
                </ul>
            </div>

            <!-- Bouton Partie -->
            <div style="text-align: center; justify-content: center; gap: 10px;">
                <button id="joinGame" style="padding: 10px 20px; font-size: 16px; border: none; background-color: #00C9FF; border-radius: 30px; color: white; cursor: pointer; transition: background-color 0.3s ease; ">
                    Rejoindre Partie
                </button>
                <button id="newGame" style="padding: 10px 20px; font-size: 16px; border: none; background-color: #FFB200; border-radius: 30px; color: white; cursor: pointer; transition: background-color 0.3s ease; ">
                    Nouvelle Partie
                </button>
            </div>
        </div>

        <!-- Pop-up -->
        <div class="popup-container" style="display: none;" id="popupContainer">
            <div id="listPopup" style="display: none;">
                <div id="listPopupContent">
                    <!-- Contenu sera injecté dynamiquement par JavaScript -->
                </div>
            </div>
        </div>

        <!-- Bloc de droite -->
        <div class="right-panel flex-grow-1">
            <!-- Conteneur -->
            <div id="timer" class="d-flex justify-content-around align-items-center p-2">
                <i class="fas fa-hourglass-start" style="margin-right: 10px;"></i> <!-- Icône avant -->
                <div>A vous de jouer :</div>
                <i class="fas fa-hourglass-end" style="margin-left: 10px;"></i> <!-- Icône après -->
            </div>

            <div class="row">
                <!-- Colonne pour le joueur de gauche -->
                <div class="col-md-3 player-column">
                    <div class="player-photo">
                        <img id="defaultAvatar" src="https://api.dicebear.com/9.x/micah/svg?hair=full&hairColor=ffedef&mouth=smile&shirtColor=f9c9b6&baseColor=f9c9b6&glasses=square&eyes=round&flip=false" alt="avatar" style="width: 100%; height: 100%; border-radius: 50%;" />
                        <i class="fas fa-edit change-avatar-icon" style="cursor: pointer;" title="Changer l'avatar"></i>
                    </div>

                    <!-- Liste des avatars (masquée par défaut) -->
                    <div id="avatarListFalse" class="avatar-list" style="display: none; position: absolute; background: white; border: 1px solid #ccc; border-radius: 10px; padding: 10px;">
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=dannyPhantom&hairColor=000000&mouth=frown&shirtColor=000000&baseColor=f9c9b6&glasses=round&eyes=eyes&flip=false" alt="avatar1" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=dougFunny&hairColor=ac6651&mouth=laughing&shirtColor=ffedef&baseColor=ac6651&glasses=square&eyes=smilingShadow&flip=false" alt="avatar2" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=fonze&hairColor=ffffff&mouth=pucker&shirtColor=d2eff3&baseColor=ac6651&glasses=round&eyes=round&flip=false" alt="avatar3" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=full&hairColor=ffeba4&mouth=nervous&shirtColor=e0ddff&baseColor=f9c9b6&glasses=square&eyes=smilingShadow&flip=false" alt="avatar1" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=mrClean&hairColor=f4d150&mouth=surprised&shirtColor=ffffff&baseColor=77311d&glasses=round&eyes=smiling&flip=false" alt="avatar2" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=pixie&hairColor=6bd9e9&mouth=smile&shirtColor=6bd9e9&baseColor=f9c9b6&glasses=square&eyes=eyesShadow&flip=false" alt="avatar3" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                    </div>

                    <div class="player-name">Hôte</div>
                    <div id="moves-yellow" class="moves-container">
                        <div class="moves-list"></div>
                    </div>
                </div>

                <!-- Grille de jeu au centre -->
                <div class="col-md-6">
                    <div class="grid-container">
                        <!-- La grille sera générée ici par JavaScript -->
                    </div>

                    <!-- Conteneur du message -->
                    <div id="gameResultMessage" class="d-flex justify-content-center align-items-center p-2" style="margin-top: 20px; background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; border-radius: 10px; display: none;">
                        <strong id="resultText"></strong>
                    </div>
                </div>

                <!-- Colonne pour le joueur de droite -->
                <div class="col-md-3 player-column">
                    <div class="player-photo">
                        <img id="defaultAvatar" src="https://api.dicebear.com/9.x/micah/svg?flip=true" alt="avatar" style="width: 100%; height: 100%; border-radius: 50%;" />
                        <i class="fas fa-edit change-avatar-icon" style="cursor: pointer;" title="Changer l'avatar"></i>
                    </div>

                    <!-- Liste des avatars (masquée par défaut) -->
                    <div id="avatarListTrue" class="avatar-list" style="display: none; position: absolute; background: white; border: 1px solid #ccc; border-radius: 10px; padding: 10px;">
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=dannyPhantom&hairColor=000000&mouth=frown&shirtColor=000000&baseColor=f9c9b6&glasses=round&eyes=eyes&flip=true" alt="avatar1" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=dougFunny&hairColor=ac6651&mouth=laughing&shirtColor=ffedef&baseColor=ac6651&glasses=square&eyes=smilingShadow&flip=true" alt="avatar2" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=fonze&hairColor=ffffff&mouth=pucker&shirtColor=d2eff3&baseColor=ac6651&glasses=round&eyes=round&flip=true" alt="avatar3" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=full&hairColor=ffeba4&mouth=nervous&shirtColor=e0ddff&baseColor=f9c9b6&glasses=square&eyes=smilingShadow&flip=true" alt="avatar1" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=mrClean&hairColor=f4d150&mouth=surprised&shirtColor=ffffff&baseColor=77311d&glasses=round&eyes=smiling&flip=true" alt="avatar2" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                        <img src="https://api.dicebear.com/9.x/micah/svg?hair=pixie&hairColor=6bd9e9&mouth=smile&shirtColor=6bd9e9&baseColor=f9c9b6&glasses=square&eyes=eyesShadow&flip=true" alt="avatar3" class="avatar-option" style="width: 50px; height: 50px; border-radius: 50%; margin: 5px; cursor: pointer;" />
                    </div>

                    <div class="player-name">Invité</div>
                    <div id="moves-red" class="moves-container">
                        <div class="moves-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pop-up pour la liste des parties -->
    <div id="listPopup" style="display: none;">
        <div id="listPopupContent">
            <!-- Contenu sera injecté dynamiquement par JavaScript -->
        </div>
    </div>
</body>
</html>


<script>
    const GetHostGamesUrl = '/Account/GetHostGames' + '?username=';
    const GetGuestGamesUrl = '/Account/GetGuestGames' + '?username=';
    const CheckUserExistsUrl = '@Url.Action("CheckUserExists")' + '?GuestName=';
</script>