<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Styles/Account/Propos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>À Propos</title>
</head>
<body>
    <div class="propos-container">
        <div>
            <div class="propos-text">
                <p>Cette application de Puissance 4 permet à deux joueurs de s'affronter en ligne dans un jeu de stratégie où l’objectif est d’aligner quatre pions pour remporter la partie.</p>
                <p>Elle propose les fonctionnalités suivantes :</p>
                <ul>
                    <li>Connexion pour les joueurs à partir d'une liste prédéfinie d'identifiants.</li>
                    <li>Création ou rejoindre des parties en attente d'un invité pour commencer.</li>
                    <li>Suivi des parties en cours et de l’historique des parties jouées.</li>
                </ul>
                <p>L'interface offre une expérience interactive, tandis que les règles de gestion des parties et la logique de victoire sont gérées via une architecture en trois tiers, garantissant modularité et sécurité des données.</p>
                <p>Une fois la partie terminée, un résumé des actions est accessible et les résultats sont sauvegardés pour chaque joueur.</p>
            </div>
        </div>
    </div>
</body>
</html>