<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Styles/Account/Sign.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/Account/Sign.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="form-container">
            <h2>Créer mon compte</h2>
            <form id="registerForm">
                <div class="form-group">
                    <label>Nom d'utilisateur</label>
                    <input type="text" name="username" id="username" placeholder="Nom d'utilisateur" required />
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" name="password" id="password" placeholder="Veuillez saisir votre mot de passe" required />
                </div>
                <div class="form-group">
                    <label>Confirmation de mot de passe</label>
                    <input type="password" id="confirmPassword" placeholder="Veuillez confirmer votre mot de passe" required />
                </div>
                <button type="submit" class="btn btn-success">S'inscrire</button>
                <div class="align-right">
                    <a href="/Account/Connect" class="text-light">Déjà inscrit? Se connecter</a>
                </div>
            </form>
        </div>

        <div class="text-container">
            <p>Bienvenue dans notre application de jeu Puissance 4 ! Nous sommes ravis de vous offrir une expérience de jeu en ligne immersive où stratégie et plaisir se rejoignent.
                Que vous soyez novice ou expert, relevez le défi et affrontez vos amis ou d’autres joueurs pour aligner quatre jetons et remporter la victoire.</p>
            <p>Préparez-vous à plonger dans des parties rapides et passionnantes ! Profitez d’une interface conviviale, conçue pour une expérience de jeu fluide et engageante.
                Bonne chance, et que le meilleur stratège gagne !</p>
            <div class="align-right">
                <a href="https://regentsctr.uni.edu/sites/default/files/games/Games/Connect_Four/Connect_Four_Rules.pdf" class="btn btn-success" target="_blank" rel="noopener noreferrer">Plus d'info?</a>
            </div>
        </div>
    </div>
</body>
</html>